@font-face {
  font-family: "iransans";
  src: local("iransans") url("./assests/fonts/iransans/IRANSansWeb.eot"),
    url("./assests/fonts/iransans/IRANSans.ttf") format("truetype"),
    url("./assests/fonts/iransans/IRANSansWeb.ttf") format("truetype"),
    url("./assests/fonts/iransans/IRANSansWeb.woff") format("font-woff");
  font-weight: normal;
}
