@import "../../../assests/style/variables.module.scss";

.placingTheBox {
  display: flex;
  justify-content: center;
  padding-inline: var(--space-xxxxl);
}

.main {
  background-color: #e6cff2;
  width: 100%;
  height: 300px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right {
  margin-top: -4em;
  rotate: (-70deg);
}

.left {
  // margin-top: 6em;
  rotate: (140deg);
}

.middle {
  h3 {
    font-size: var(--space-xl);
    margin-bottom: 1em;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
