@import "../../../../assets/style/variables.module.scss";

.main {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-xl) var(--space-xxxl);
}

.ticketBox {
  display: none;
}

@media screen and (min-width: 550px) {
  .main {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--space-xxxl);
  }

  .ticketBox {
    display: block;
  }
}
