@import "../../../../assests/style/variables.module.scss";

.main {
  background-color: var(--primaryColor);
  color: var(--backgroundPrimaryColor);
  padding: var(--space-xl);
  direction: rtl;
  height: 400px;
}
