@import "../../../../assests/style/variables.module.scss";

.main {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--space-xxxl);
}
