@import "../../../assests/style/variables.module.scss";

.imageBox {
  height: 500px;
  width: 350px;
  overflow: hidden;
  padding: var(--space-lg);
}

.imageBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
  border-radius: var(--size-sm);
}

.imageBox img:hover {
  transform: scale(1.05);
}
