:root {
  /* colors */
  --primaryColor: #f7d4f5;
  --secondaryColor: #b3c1e9;
  // thistle ;
  --tertiaryColor: rgb(236, 205, 247);
  --quaternaryColor: rgb(208, 208, 208);
  --quinaryColor: rgb(245, 245, 148);
  --senaryColor: rgb(56, 39, 104);

  --primaryTextColor: rgb(75, 82, 89);

  --backgroundPrimaryColor: #ffffff;
  --backgroundSecondaryColor: rgb(246, 245, 245);

  --boxShadowPrimaryColor: -6px 9px 24px -3px rgba(0, 0, 0, 0.1);
  --boxShadowSecondaryColor: 7px -6px 15px -7px rgba(0, 0, 0, 0.1);
  --boxShadowTertiaryColor: -7px -6px 15px -7px rgba(0, 0, 0, 0.1);

  /* sizes */
  --size-unit: 1em;
  --size-xs: calc(0.25 * var(--size-unit));
  --size-sm: calc(0.5 * var(--size-unit));
  --size-md: calc(1 * var(--size-unit));
  --size-lg: calc(1.5 * var(--size-unit));
  --size-xl: calc(2 * var(--size-unit));
  --size-xxl: calc(2.5 * var(--size-unit));
  --size-xxxl: calc(3 * var(--size-unit));

  /* spacing sizes */
  --space-unit: 16px;
  --space-xxxs: calc(0.0625 * var(--space-unit));
  --space-xxs: calc(0.125 * var(--space-unit));
  --space-xs: calc(0.25 * var(--space-unit));
  --space-sm: calc(0.5 * var(--space-unit));
  --space-md: calc(1 * var(--space-unit));
  --space-lg: calc(1.5 * var(--space-unit));
  --space-xl: calc(2 * var(--space-unit));
  --space-xxl: calc(2.5 * var(--space-unit));
  --space-xxxl: calc(3 * var(--space-unit));
  --space-xxxxl: calc(6 * var(--space-unit));

  /* grid spacing unit*/
  --grid-unit: 1fr;
  --grid-md: calc(1 * var(--grid-unit));
}
