@import "../../../../assets/style/variables.module.scss";

.main {
  background: linear-gradient(var(--primaryColor), var(--secondaryColor));
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: fit-content;
  border-radius: var(--size-lg);
  padding: var(--space-xxxl) 0;
}

.textBox {
  position: absolute;
  text-align: center;
  margin-top: var(--space-md);

  h1 {
    font-size: 50px;
    margin-top: 0;
  }
}

.image {
  width: 60vw;
  height: fit-content;
}

@media screen and (min-width: 1500px) {
  .textBox {
    margin-top: var(--space-xxxxl);

    h1 {
      font-size: 65px;
      margin-top: var(--space-xxxl);
    }
  }

  .image {
    width: 55vw;
  }
}
